* {   /*основа */
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
   font-family: inherit;
}

nav,        /*преваращаем в блочный*/
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.container {
  background: #E5C850;   
  box-sizing: border-box;
}

.container {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: left;
}

section {
  background: #FFFAE5;    
}

.myinfo {
  background: #E5C850;   
}

header {
  background-color: #FFFAE5;   
}

.photo1 {       
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin-left: 30px;
    margin-top: 30px;
}

.nav {
  padding: 10px 15px;
  color: #000;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.nav-list {
  font-family: 'Arial', sans-serif;
  font-size: 99%;
  color: black;
  font-weight: 200;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.nav-list:hover {
  color: whitesmoke;
}

.gitlink {
  color: black;
  text-decoration: solid;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: underline;
}

.gitlink:hover {
  color: whitesmoke;
  text-decoration-line: underline;
}


ul li {
  list-style: none;
}

.myfooter {
  text-align: center;
}
.info22 {
  text-align: right;
}

.icon-rslogo {
  width: 100px;
  height: 70px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}